.wrapper {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.image_container_bg1 {
    height: 100vh;
    overflow: hidden;
    margin-left: -6px;
}

.image {
    background-size: cover;
    height: 100vh;
    background-position: center;
    transform: translateZ(-1px) scale(2);
}
.img1 {
    background-image: url("../images/bg1.jpg");
}

.headerText {
    background-attachment: fixed;
    position: absolute;
    top: 62%;
    padding-left: 7%;
}


.firstBackText_Big {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.firstBackText_Small {
    font-family: Lato;
    color: #ffffff;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.borderText {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 831px;
    height: 129px;
}

.tegline {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    color: white;
    margin-top: 33px;
}

.tegline span {
    color: #f1ad1d;
    background-color: #ffffff;
    padding-left: 33px;
    padding-right: 14px;
    padding-top: 32px;
    padding-bottom: 33px;
}



/* section2*/

#section2 {
    text-align: center;
}

#section2 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 112px;
    margin-bottom: 25px;
}

#section2 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}
.hr2 {
    margin-top: 52px;
    margin-bottom: 137px;
}



/* section3*/

.image_container_bg2 {
    height: 380px;
    overflow: hidden;
    margin-left: -6px;
}

.img2 {
    background-image: url("../images/bg2.jpg");
}

.text_section3 {
    position: relative;
    font-family: Montserrat;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    bottom: 230px;
}

#section3 span {
    color: #f1ad1d;
}

.hr3 {
    margin-top: 60px;
    margin-bottom: 150px;
}



/* section4*/

#section4 {
    text-align: center;
}

#section4 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: -100px;
    margin-bottom: 25px;
}

#section4 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}

.hr4 {
    margin-top: 55px;
    margin-bottom: 180px;
}


/* section5*/

.image_container_bg3 {
    height: 475px;
    overflow: hidden;
    margin-left: -6px;
}

.img3 {
    background-image: url("../images/bg3.jpg");
}

.text_section5 {
    position: relative;
    font-family: Montserrat;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    bottom: 310px;
}

#section5 span {
    color: #f1ad1d;
}

.hr5 {
    margin-top: 55px;
    margin-bottom: 60px;
}



/* section6*/


#section6 {
    text-align: center;
}

#section6 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: -50px;
    margin-bottom: 25px;
}

#section6 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}

.hr4 {
    margin-top: 55px;
    margin-bottom: 122px;
}




/* section7*/

.image_container_bg4 {
    height: 485px;
    overflow: hidden;
    margin-left: -6px;
}

.img4 {
    background-image: url("../images/bg4.jpg");
}

.text_section7 {
    position: relative;
    font-family: Montserrat;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    bottom: 350px;
}

.style1 {
    font-family: Open Sans;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
}

.style2 {
    font-family: Open Sans;
    color: #f1ad1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
}

#section7 span {
    color: #f1ad1d;
}

.hr5 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.hr6 {
    margin-top: 35px;
    margin-bottom: 110px;
}


/* section8*/


#section8 {
    text-align: center;
    height: 250px;
}

#section8 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: -200px;
    margin-bottom: 25px;
}

#section8 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}



